/*
***** General Styles *****
*/

html, body {
	margin:0;
	padding:0;
}

@font-face {
	font-family: sf_regular;
	src: url(../fonts/SanFranciscoDisplay-Regular.otf);
}

@font-face {
	font-family: sf_regular;
	src: url(../fonts/SanFranciscoDisplay-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: sf_regular;
	src: url(../fonts/SanFranciscoDisplay-Semibold.otf);
	font-weight: 500;
}

body {
	background-color: #101010;
	color: white;
	font-family: sf_regular;
}

/* Profile Div */
.profileDiv {
	position: relative;
	width: 675px;
	margin: auto;
	padding: 10px;
	height: auto;
	overflow: auto;
	border-bottom-width: 2px;
  border-bottom-color: #484848;
  border-bottom-style: solid;
}

.profileDiv #profilePicture {
	height: 250px;
	width: 250px;
	border-radius: 125px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profileDiv h1 {
	text-align: center;
}

.profileDiv h2 {
	text-align: center;
}

.profileDiv h3 {
	font-size: 25px;
}

.profileDiv h4 {
	font-size: 20px;
	line-height: 5px;
}

.profileDiv p {
	font-size: 22px;
	line-height: 32px;
	/*hyphens: auto;*/
	text-align: justify;
}

.profileDiv a {
	text-decoration: none;
	color: #6DBDFA;
}

.phoneNumber {
	color: #6DBDFA;
}

/* My Projects h1: */
.myProjects {
	text-align: center;
}

/* Technology Indicator  */
.techIndicatorDiv {
	position: absolute;
	text-align: center;
	font-weight: 500;
	width: 110px;
	height: 50px;
	font-size: 20px;
	line-height: 10px;
	left: 0;
	top: 0;
}

.secondIndicator {
	margin-left: 110px;
}

#iOSApp {
	color: #24D0FC;
}

#swift {
	color: #F61B52;
}

#htlm_5 {
	color: #FD9426;
}

#frontEnd {
	color: #A1FA33;
}

#backEnd {
	color: #797FFB;
}

#classe {
	color: #AEB5C0;
}

#C_ID {
	color: #FCE43F;
}

/* CENTRAL CONTAINER */
.centralContainer {
	position: relative;
	background-color: #1A1A1A;
	width: 75%;
	min-width: 675px;
	margin: auto;
	padding: 10px;
	height: auto;
	overflow: auto;
	border-radius: 10px;
}

.containerRightSide h1 {
	position: relative;
	color: white;
	text-align: left;
	margin: 0;
	line-height: 40px;
	font-weight: bold;
}









/**.centralContainer #languageIndicator p {
	font-weight: bold;
	color: #F61B52;
}*/

/* LEFT SIDE CONTAINER */
.containerLeftSide {
	position: relative;
	margin-top: 10px;
	width: 30%;
	height: auto;
	float: left;
}

.containerLeftSide a {
	text-decoration:none;
}

.containerLeftSide p {
	text-align: center;
	color: #6ABCFC;
	font-size: 22px;
}

/* RIGHT SIDE CONTAINER */
.containerRightSide {
	position: relative;
	margin-top: 10px;
	margin-right: 20px;
	width: 67%;
	height: auto;
	float: right;
}

.containerRightSide p {
	font-size: 22px;
	line-height: 32px;
}

/* APP ICON IMAGE */
.containerLeftSide img {
	border-radius: 20px;
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	height: auto;
}
