/*
***** Smartphone Styles *****
*/
@media only screen and (min-width: 120px) and (min-device-width: 120px) and (max-device-width: 599px) {

  .languageButton {
    width: 300px;
  	font-size: 40px;
  }

  .profileDiv {
  	width: 90%;
  }

  .profileDiv #profilePicture {
    width: 300px;
    height: auto;
  	border-radius: 50%;
  }

  .profileDiv h1 {
    font-size: 65px;
  }

  .profileDiv h2 {
    font-size: 50px;
  }

  .profileDiv h3 {
    font-size: 50px;
  }

  .profileDiv h4 {
    font-size: 50px;
    line-height: 20px;
  }

  .profileDiv p {
    font-size: 50px;
    line-height: 65px;
  	text-align: left;
  }

  .myProjects {
    font-size: 65px;
  }

  .centralContainer {
    width: 100%;
    border-radius: 0px;
  }

  .containerRightSide {
  	width: 67%;
  }

  .containerRightSide p {
    font-size: 50px;
    line-height: 65px;
  }

  .containerLeftSide img {
  	width: 90%;
  }

  .containerLeftSide {
    margin-top: 70px;
  }

  .containerRightSide h1 {
    font-size: 45px;
    line-height: 55px;
  }

  .containerLeftSide p {
    font-size: 40px;
  }

  .techIndicatorDiv {
    text-align: center;
    width: 140px;
    height: 75px;
    font-size: 30px;
    line-height: 10px;
  	left: 0;
  	top: 0;
  }

  .secondIndicator {
  	margin-left: 140px;
  }

}
