/*
***** Smartphone Styles *****
*/
@media only screen and (min-width: 120px) and (min-device-width: 120px) and (max-device-width: 599px) {

  .profileDiv {
  	width: 90%;
  }

  .profileDiv #profilePicture {
  	width: 40%;
    height: auto;
  	border-radius: 50%;
  }

  .profileDiv h1 {
  	font-size: 4.5vw;
  }

  .profileDiv h2 {
    font-size: 3.5vw;
  }

  .profileDiv h3 {
  	font-size: 3.5vw;
  }

  .profileDiv h4 {
  	font-size: 3vh;
    line-height: 2vh;
  }

  .profileDiv p {
    font-size: 3vh;
  	line-height: 4vh;
  	text-align: left;
  }

  .myProjects {
    font-size: 4.5vw;
  }

  .centralContainer {
    width: 100%;
    border-radius: 0px;
  }

  .containerRightSide {
  	width: 67%;
  }

  .containerRightSide p {
  	font-size: 3vh;
  	line-height: 4vh;
  }

  .containerLeftSide img {
  	width: 90%;
  }

  .containerLeftSide {
  	margin-top: 4.5vw;
  }

  .containerRightSide h1 {
  	font-size: 4.5vw;
  	line-height: 4.5vw;
  }

  .containerLeftSide p {
  	font-size: 3.5vw;
  }

  .techIndicatorDiv {
    text-align: center;
  	width: 14%;
  	height: 8vw;
  	font-size: 3vw;
  	line-height: 10px;
  	left: 0;
  	top: 0;
  }

  .secondIndicator {
  	margin-left: 14%;
  }

}
