/*
***** Tablet Styles *****
*/
@media only screen and (min-width: 600px) and (min-device-width: 600px) and (max-device-width: 1023px) {

  .centralContainer {
    width: 100%;
    border-radius: 0px;
  }

  .containerRightSide {
  	width: 67%;
  }

}
