header {
	width: 100%;
	height: 50px;
	background-color: #24292E;
}

header a {
	text-decoration: none;
}

header p {
	color: #BDBEC0;
	font-weight: 500;
	line-height: 15px;
}

header #on {
	color: white;
}

.mainHeaderDiv {
	width: 90%;
	height: 100%;
	margin: auto;
	min-width: 1024px;
}

/* - - - - Left-side Buttons: - - - - - */
.headerButton {
	height: 100%;
	float: left;
}
		#portfolioButton {
			width: 160px;
		}

		#hashrateButton {
			width: 128px;
		}

		#galacticPaperBattlesButton {
			width: 210px;
		}

		#objectiveCalculatorButton {
			width: 208px;
		}

		#instrumentScalesButton {
			width: 208px;
		}

.headerButton:hover {
	background-color: #3A3F43;
}

.headerButtonImage {
	float: left;
	position: relative;
	height: auto;
	display: block;
	width: 35px;
	left: 4px;
	top: 7.5px;
}
		#portfolioButtonImage {
			border-radius: 25px;
		}

		#objectiveButtonImage {
			border-radius: 10px;
		}

.headerButtonTittle {
	display: block;
	position: relative;
	float: right;
	right: 0;
	height: 100%;
}

		#portfolioButtonTittle {
			width: 110px;
		}

		#hashrateButtonTitle {
			width: 82px;
		}

		#objectiveCalculatorButtonTittle {
			width: 160px;
		}

		#galacticPaperBattlesButtonTittle {
			width: 160px;
		}

/* LANGUAGE BUTTONS: */
.headerLanguageButton {
	width: 75px;
	height: 100%;
	float: right;
}

.headerLanguageButton:hover {
	background-color: #3A3F43;
}

.languageButtonTittle p {
	text-align: center;
}
